.error{ 
	color: #F00 !important; 
	font-size: 10px !important;
}
#last-account-error {
    width: 20% !important;
    position: relative;
    top: 3px;
}
/* LOGO */
.bg-nuvem{
	background-image: url('../../public/images/header-nuvem.webp') !important;
	background-repeat: no-repeat;
	background-size: 35%;
	background-position: top left;
	min-height: 195px;
}
.logo{
	display: flex;
    justify-content: flex-end;
}
.logo img {
    position: relative;
    left: -40px;
}
/* MENU */
.main{
	display: flex;
    justify-content: center;
}
nav.navbar.navbar-default{
    background-color: #127dac !important;
	background-image: #127dac !important;
	border: 0;
	border-top: 16px solid #FFF !important;
    box-shadow: initial;
    margin: 0;
}
ul.nav.navbar-nav a{
	font-size: 16px;
    font-weight: 600;
    color: #FFF;
    line-height: 4;
    text-align: center;
}
.navbar-default .navbar-toggle {
    border-color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
/* Slider */
#slider{
	background-image: linear-gradient(0,#1d93c2,#137fae);
	height: 270px;
	display: flex;
    align-items: center;
}

#slider h2 {
	font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
	padding: 0px 200px 0px 200px;
}
#slider .text-top{
    font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.35em;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.7;
}
#slider .text-bottom{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #F7F7F7;
}
.slider-buttons{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}
.btn-slider-one, .btn-slider-one:hover {
	padding: 20px;
    background: #000;
    box-shadow: 0px 10px 30px rgb(183 50 39 / 20%);
    border-radius: 40px;
    border-top-left-radius: 0px;
    margin-right: 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn-slider-two, .btn-slider-two:hover {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 14px;
}

/* BG */
.bg-nuvem-azul{
	background-image: url('../../public/images/bg-nuvem-azul.webp') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg-world{
	background-image: url('../../public/images/world.webp') !important;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	min-height: 400px;
}
.bg-farm{
	background-image: url('../../public/images/farm.webp') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 245px;
	position: relative;
    top: 40px;
	margin-top: -170px;
}
.bg-footer{
	background-image: url('../../public/images/bg-footer.webp') !important;
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
	min-height: 80px;
    margin-bottom: 28px;
    width: 63%;
    margin: 0 auto;
}
/* MOVIE 1 */
#movie{
	background-color: #2dacda;
}
.movie-position{
	display: flex;
	justify-content: center;
}
.movie{
	width: 60%;
	height: 450px;
	background-color: #C4C4C4;
}
.movie-text{
	padding: 0px 150px 0px 150px;
}
.movie-text h2{
	font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
	padding: 0px 100px 30px 100px;
}
.movie-text p{
	text-align: center;
	font-family: 'Raleway';
	color: #FFF;
	margin-top: 80px;
}
.nuvem-movie{
	float: right;
    top: -126px;
    position: relative;
    right: -64px;
}
/* ECONOMY */
#economy{
	background-color: #2AD18A;
	padding: 135px 0px 20px 0px;
	margin-top: -32px;
}
#economy label {
    width: 100%;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
}

#economy p{
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.35em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}
#economy h2{
	font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
	padding: 0px 200px 0px 200px;
}
#economy .form-position-input {
	width: 80%;
    margin: 50px auto;
}
#economy input[type='text']{
	display: initial;
    background: #8DFFCF;
    opacity: 0.7;
    border-radius: 3px;
    border: 0;
    padding: 10px 15px;
    color: #000;
	height: 45px;
}
#economy input[type='submit']{
	margin: 0px auto;
    display: block;
    top: 50px;
    position: relative;
	padding: 15px 25px 15px 25px;
    background: #000;
    box-shadow: 0px 10px 30px rgb(183 50 39 / 20%);
    border-radius: 40px;
    border-top-left-radius: 0px;
    margin-right: 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
	margin: 25px auto;
    display: block;
}
/* VANTAGENS */
#vantagens{
	background-image: url('../../public/images/bg-vantagens.webp');
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #F99F1D;
	padding: 80px 0px 350px 0px;
}
#vantagens h2{
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}
#vantagens p{
	font-family: Raleway;
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.35em;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.7;
	text-align: center;
}
#vantagens #cards{
	width: 70%;
    margin: 0 auto;
}
#vantagens #cards img{
	width: 100%;
    height: auto;
	position: relative;
    z-index: 1;
}
#vantagens #cards .row {
    margin-top: 28px;
}
#vantagens #cards .cards-position-text{
	display: flex;
    align-items: center;
	width: 40%;
    height: 100%;
	margin-left: 30px;
    position: absolute;
    z-index: 2;
    top: 0;
}
#vantagens #cards .cards-position-text p{
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	margin: 0;
}
/* PROPOSTA */
#proposta{
	background-color: #2AD18A;
	display: flex;
    justify-content: center;
    align-items: center;
	padding: 50px 135px 20px 135px;
}
#proposta label {
    width: 100%;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
}
#proposta h2{
	font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
	padding: 0px 200px 0px 200px;
}
#proposta form {
	width: 80%;
    margin: 50px auto;
}
#proposta input[type='text']{
    display: initial;
    background: #8DFFCF;
    opacity: 0.7;
    border-radius: 3px;
    border: 0;
    padding: 10px 15px;
    color: #000;
	height: 45px;
}
#proposta .footer-form {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
	border: 2px solid #FFF;
    border-style: dashed;
    width: 100%;
    margin-top: 25px;
	padding: 15px;
}
#proposta .file-input {
	color: transparent;
	width: 161px;
}
#proposta .file-input::-webkit-file-upload-button {
	visibility: hidden;
}
#proposta .file-input::before {
	content: 'ANEXAR ARQUIVO';
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	background: #314054;
	opacity: 0.3;
	border-radius: 0px 10px 10px 10px;
    color: #FFF;
    padding: 15px;
}
#proposta .file-input:hover::before {
	border-color: black;
}
#proposta .file-input:active {
	outline: 0;
}
#proposta .file-input:active::before {
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
#proposta .footer-form p {
    margin: 0;
	color: #FFF;
    text-transform: uppercase;
}
#proposta .btn-submit, .btn-submit:hover {
	padding: 20px;
    background: #000;
    box-shadow: 0px 10px 30px rgb(183 50 39 / 20%);
    border-radius: 40px;
    border-top-left-radius: 0px;
    margin-right: 45px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
	margin: 25px auto;
    display: block;
}
/* DUVIDAS */
#duvidas h2{
	width: 74%;
    margin: 35px auto;
}
#duvidas #accordion {
    width: 74%;
    margin: 0 auto;
    margin-bottom: 80px;
}
#duvidas .panel-default>.panel-heading {
    background: #EFEFEF;
    border-radius: 0px 25px 25px 25px;
}
#duvidas .panel-group .panel+.panel {
    margin-top: 10px;
}
#duvidas .panel-heading {
    padding: 20px 25px;
}
#duvidas .panel {
    border: 0;
}
#duvidas .panel-body {
    margin-top: 10px;
}
#duvidas .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}
#duvidas .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 1px solid #ddd;
}
/* FOOTER */
#footer {
	padding: 0px 0px 50px 0px;
}
#footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
	margin-bottom: 0px;
}

#footer ul li {
	margin-right: 35px; 
}
#footer ul li:last-child {
	margin-right: 0px; 
}
#footer .footer-position{
	display: flex;
    justify-content: space-between;
    align-items: center;
	width: 75%;
	margin: 0 auto;
}
#footer .copy{
	font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 1px;
    color: #5C5C5C;
	margin-bottom: 0;
}

.scroll-top-arrow, .scroll-top-arrow:focus {
    background-color: #8e00bd;
}
.scroll-top-arrow, .scroll-top-arrow:focus {
    font-size: 20px;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 80;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* MODAL */
#modal h2{
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 130%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #000000;
	margin-top: -11px;
    margin-bottom: 25px;
}
#modal img {
    width: 100%;
    height: auto;
}
.modal-header {
    padding: 15px 17px 0px 0px;
    border-bottom: initial;
}
@media (min-width: 992px){
	.modal-lg {
		width: 700px;
	}
}


/* QUERIES */
@media only screen and (min-width: 1200px) {
	iframe {
		margin-top: -198px;
		height: 450px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#modal h2{
		font-size: 20px;
	}
	iframe {
		margin-top: -142px;
		height: 450px;
	}
	.bg-farm {
		background-size: contain;
	}
	.logo img {
		width: 74%;
		height: auto;
		left: 0;
	}
	ul.nav.navbar-nav a {
		font-size: 13px;
	}
	#slider .text-top{
		font-size: 11px;
	}
	#slider h2{
		font-size: 30px;
	}
	.btn-slider-one, .btn-slider-one:hover {
		padding: 16px;
		font-size: 11px;
	}
	.btn-slider-two, .btn-slider-two:hover{
		font-size: 11px;
		margin-top: 10px;
	}
	.movie-text h2{
		font-size: 28px;
	}
	.nuvem-movie {
		top: -82px;
		right: -41px;
		width: 20%;
		height: auto;
	}
	#economy {
		margin-top: -50px;
	}
	#economy h2 {
		font-size: 26px;
		line-height: 40px;
	}
	#vantagens #cards .cards-position-text p{
		font-size: 14px;
		margin-left: 11px;
	}
	#footer .copy {
		font-size: 10px;
	}
	#footer ul li {
		margin-right: -5px;
	}
	#footer img {
		width: 70%;
		height: auto;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#modal h2{
		font-size: 18px;
		margin-bottom: 20px;
		margin-top: -15px;
	}
	.nav>li>a {
		padding: 10px 12px;
	}
	.bg-farm {
		background-size: contain;
	}
	.logo {
		justify-content: flex-start;
	}
	.logo img {
		position: relative;
		left: 111px;
		width: 64%;
		height: auto;
	}
	ul.nav.navbar-nav a {
		font-size: 10px;
	}
	#slider .text-top{
		font-size: 10px;
	}
	#slider h2{
		font-size: 20px;
		padding: 0px 100px 0px 100px;
		line-height: 35px;
	}
	.bg-nuvem {
		min-height: 95px;
	}
	.movie-text h2{
		font-size: 22px;
		padding: 0px 20px 30px 20px;
	}
	iframe {
		margin-top: -141px;
		height: 392px;
	}
	.movie {
		height: 350px;
	}
	.nuvem-movie {
		top: -74px;
		right: -39px;
		width: 20%;
		height: auto;
	}
	#economy label {
		font-size: 10px;
	}
	#economy {
		margin-top: -55px;
	}
	#economy h2 {
		font-size: 20px;
		padding: 0px 100px 0px 100px;
	}
	.btn-slider-one, .btn-slider-one:hover {
		padding: 16px;
		font-size: 11px;
	}
	.btn-slider-two, .btn-slider-two:hover{
		margin-top: 9px;
	}
	.btn-submit{
		font-size: 11px !important;
	}
	#vantagens #cards .cards-position-text p{
		font-size: 14px;
		margin-left: -30px;
		padding: 12px;
	}
	#vantagens #cards {
		width: 85%;
	}
	#proposta{
		padding: 0;
	}
	#proposta .footer-form p {
		font-size: 10px;
	}
	#proposta h2 {
		font-size: 20px;
		padding: 0;
	}
	#footer .copy {
		font-size: 10px;
	}
	#footer ul li {
		margin-right: -5px;
	}
	#footer img {
		width: 70%;
		height: auto;
	}
	.bg-footer {
		min-height: 65px;
		width: 55%;
	}
}



@media only screen and (max-width: 767px) {	
	#modal h2{
		font-size: 18px;
		margin-bottom: 20px;
		margin-top: -15px;
	}
	.bg-farm {
		background-size: contain;
	}
	.bg-world {
		min-height: 240px;
	}
	.bg-nuvem {
		background-size: 265px;
		min-height: initial;
	}
	.logo {
		width: 140px;
		justify-content: flex-start;
		left: 110px;
		position: relative;
		top: -10px;
	}
	.logo img {
		width: 70%;
		height: auto;
		left: 0px;
	}
	#economy {
		margin-top: -70px;
		padding: 75px 0px 20px 0px;
	}
	#economy h2 {
		font-size: 18px;
		padding: 0;
		line-height: 30px;
	}
	#slider h2{
		font-size: 20px;
		padding: 0px;
		line-height: 35px;
	}
	.btn-slider-one, .btn-slider-one:hover {
		margin-right: 0px;
	}
	.btn-slider-two, .btn-slider-two:hover{
		margin-top: 0px;
	}
	#proposta h2 {
		font-size: 23px;
		padding: 0px;
	}
	#proposta .footer-form {
		display: block;
	}
	#proposta {
		padding: 30px 0px 0px 0px;
	}
	#proposta .footer-form p {
		text-align: center;
	}
	#proposta .file-input {
		margin: 20px auto;
		margin-bottom: 0;
	}
	.nuvem-movie {
		top: -24px;
		right: -14px;
		width: 20%;
		height: auto;
	}
	iframe {
		margin-top: -106px;
	}
	.movie {
		height: 210px;
	}
	.movie-text {
		padding: 0px;
	}
	.movie-text h2 {
		font-size: 22px;
		padding: 0px;
		margin: 40px 0px 40px 0px;
	}
	#footer {
		padding: 0px 0px 15px 0px;
	}
	.bg-footer{
		min-height: 55px;
		width: 86%;
	}
	#footer .footer-position {
		display: block;
		justify-content: initial;
		align-items: initial;
	}
	#footer .copy {
		text-align: center;
	}
	#footer ul {
		justify-content: center;
		padding: 0;
		margin-top: 35px;
	}
	.slider-buttons {
		display: block;
		flex-direction: initial;
		justify-content: initial;
		text-align: center;
	}
	#vantagens {
		background-size: contain;
		padding: 80px 0 180px 0;
	}
	#vantagens #cards .cards-position-text p{
		font-size: 14px;
		margin-left: -30px;
		padding: 12px;
	}
	#vantagens #cards {
		width: 85%;
	}
	#vantagens #cards .row .col-xs-12 {
		margin-top: 28px;
	}
	#vantagens #cards .row .col-xs-12:last-child {
		margin-bottom: -30px;
	}
	#duvidas #accordion {
		width: 85%;
	}
	.navbar-default .navbar-collapse{
		border: 0px;
	}
	.navbar-nav>li>a {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	#last-account-error {
		width: 36% !important;
		position: relative;
		top: 9px;
	}

}

@media only screen and (max-width: 600px) {	
	iframe {
		margin-top: -69px;
    	height: 212px;
	}
}
